@import 'base/fonts';
@import 'base/globals';
@import 'base/reset';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

html {
  background: #F2F2F2;
}

main h1{
  text-align: center;
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  margin: 10px auto;
}
