.select {
  appearance: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  display: block;
  font-family: "WorkSans",sans-serif;
  font-size: 14px;
  color: #111111;
  border: none;
  border-bottom: 1px solid #F2F2F2;
  background-color: white;
  height: 25px;
  background-image: url('../../assets/images/arrow-down.svg');
  background-position: right 0 top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-color: transparent;

  & option {
    font-family: "WorkSans",sans-serif;
    font-size: 14px;
    color: #111111;
  }

}