.select {
  appearance: none;
  width: 100%;
  cursor: pointer;
  display: block;
  padding-right: 5px;
  font-family: "WorkSans";
  font-size: 14px;
  color: #111111;
  border: none;
  border-bottom: 1px solid #F2F2F2;
  background-color: white;
  height: 25px;
  background-image: url('../../assets/images/arrow-down.svg');
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  & option {
    padding-right: 5px;
    color: red;
  }

}