.sign-up {
  max-width: 665px;
  width: 100%;
  min-height: 481px;
  display: flex;
  flex-direction: row;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    font-family: 'PTSans';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 63px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    writing-mode:vertical-lr;
    transform: scale(-1);
  }

  &__extra-header {
    font-family: 'WorkSans';
    font-size: 22px;
    line-height: 26px;
    color: #111111;
  }

  &__description {
    font-family: 'WorkSans';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #111111;
    margin-bottom: 20px;
  }

  &__stripe {
    background: #5A61ED;
    max-width: 137px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 22px;
    padding-right: 6px;
  }

  &__form {
    background: #FFFFFF;
    width: 100%;
    padding: 38.5px 24px 33px 21px;
  }

  &__label {
    color: #7C7C7C;
    display: flex;
    flex-direction: column;
    font-family: WorkSans;
    font-size: 12px;
    line-height: 14px;
  }

  &__input,&__email {
    border-bottom: 1px solid #F2F2F2;
    height: 27px;
    width: 234px;
  }

  &__input_error {
    border-bottom: 1px solid red;
  }

  &__input::placeholder,&__email::placeholder {
    font-family: 'WorkSans';
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    opacity: 1;
    outline: none;
  }

  &__name-wrapper,
  &__date-wrapper,
  &__select-wrapper {
    display: flex;
    flex-direction: row;
    gap: 14.5px;
  }
  &__name-wrapper,&__select-wrapper {
    justify-content: space-between;
  }

  &__name-wrapper {
    margin-bottom: 19px;
  }

  &__select-wrapper {
    margin-bottom: 17px;
  }

  &__date-wrapper {
    margin-bottom: 17px;
  }

  &__date {
    width: 56px;
  }

  &__month {
    width: 91px;
  }

  &__year {
    width: 67px;
  }

  &__nationality {
    width: 234px;
  }

  &__gender-label {
    font-family: 'WorkSans';
    font-size: 14px;
    line-height: 16px;
    color: #111111;
  }
  &__gender-wrapper {
    display: flex;
    flex-direction: row;
    gap: 19px;
  }

  &__options-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__password {
    width: 234px;
    border-bottom: 1px solid #F2F2F2;
    height: 27px;
  }

  &__password-wrapper {
    display: flex;
    flex-direction: row;
    gap: 14.5px;
  }

  &__submit {
    width: 154px;
    height: 32px;
    color: white;
    background: #5A61ED;
    border: 0.5px solid #FFFFFF;
    cursor: pointer;
    font-family: 'PTSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 10px;
  }

  &__submit:hover {
    background: #7679a9;
  }

  &__submit.sign-in__submit_error {
    animation: shake 2s; 
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  &__error {
    color: red;
  }

  &__submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'WorkSans';
    font-size: 13px;
    font-weight: 200;
    line-height: 15px;
    & a {
      color: #5A61ED;
    }
  }

}

@media (max-width:720px) {
  .sign-up {
    &__date-wrapper,
    &__name-wrapper,
    &__select-wrapper,
    &__password-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}