.sign-up {
  max-width: 665px;
  height: 481px;
  display: flex;
  flex-direction: row;

  &__stripe {
    background: #5A61ED;
    max-width: 137px;
    width: 100%;
  }

  &__form {
    background: #FFFFFF;
    width: 100%;
  }

}